
<div class="container">
  <br>
  <div class = "title">
    <h6>Try to update the chart type and randomize the data!</h6>
  </div>
  <div class="controls">
    <div class="row">
      <div class="col-md-3" style="border" >
        <select name ="chartType" class="form-control" id="chartType" onchange="updateChartType()">
          <option value="line">Line</option>
          <option value="bar">Bar</option>
          <option value="radar">Radar</option>
          <option value="pie">Pie</option>
          <option value="polarArea">Polar Area</option>
          <option value="doughnut">Doughnut</option>
        </select>
      </div>
   <button  class="btn btn-primary" onclick= "randomizeData()">Randomize Data!</button>
  </div>
  <br>
</div>
  <div class="chart-container" style="position: relative; width:85vw">
    <canvas id="myChart"></canvas>
  </div>    
</div>  

<script>
  let data = [1, 10, 5, 2, 20, 30, 45];
  let moreData = [20, 30, 15, 12, 21, 30, 40];
  myData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
          {
            label: "Data!",
            fill: false,
            backgroundColor: 'rgb(190, 99, 255, 0.25)',
            borderColor: 'rgb(190, 99, 255)',
            data: <%= @data %>,
          },
            {
            label: "More data!",
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.25)',
            borderColor: 'rgb(255, 99, 132)',
            data:<%= @data1 %>,
        }]
    };

  // Default chart defined with type: 'line'
  Chart.defaults.global.defaultFontFamily = "monospace";
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: myData
  });

  // Function runs on chart type select update
  function updateChartType() {
    // Since you can't update chart type directly in Charts JS you must destroy original chart and rebuild
     myChart.destroy();
     myChart = new Chart(ctx, {
       type: document.getElementById("chartType").value,
       data: myData,
     });
  };

  // Randomize data button function
  function randomizeData() {
    let newData = data.map(x => Math.floor(Math.random() * 50));
    let newMoreData = moreData.map(x => Math.floor(Math.random() * 40));
    myData.datasets[0].data = newData
    myData.datasets[1].data = newMoreData
    myChart.update();
    console.log(newData);
  };


</script>





